<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lfy.kcat.user.mapper.UserPreferencesMapper">

    <resultMap id="BaseResultMap" type="com.lfy.kcat.user.domain.UserPreferences">
            <id property="preferenceId" column="preference_id" />
            <result property="userId" column="user_id" />
            <result property="categoryId" column="category_id" />
            <result property="createTime" column="create_time" />
    </resultMap>

    <sql id="Base_Column_List">
        preference_id,user_id,category_id,create_time
    </sql>
</mapper>
