<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lfy.kcat.user.mapper.UserCollectionsMapper">

    <resultMap id="BaseResultMap" type="com.lfy.kcat.user.domain.UserCollections">
            <id property="collectionId" column="collection_id" />
            <result property="userId" column="user_id" />
            <result property="dramaId" column="drama_id" />
            <result property="dramaTitle" column="drama_title" />
            <result property="dramaCover" column="drama_cover" />
            <result property="createTime" column="create_time" />
    </resultMap>

    <sql id="Base_Column_List">
        collection_id,user_id,drama_id,drama_title,drama_cover,create_time
    </sql>
</mapper>
